.weather {
    place-self: center;
    padding: 25px;
    border-radius: 50px;
    background-image: linear-gradient(140deg, #2752a0, #1d458bce, #7259cfed);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    max-width: 400px;
    width: 100%;
}

.weather:hover {
    transform: scale(1.02);
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    margin-bottom: 35px;
}

.search-bar input {
    height: 50px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 20px;
    color: black;
    background-color: #f0f8ff;
    font-size: 20px;
}

.search-bar img {
    width: 50px;
    padding: 12px;
    border-radius: 50%;
    background-color: #f0f8ff;
    cursor: pointer;
}

.search-bar img:hover {
    transform: scale(1.05);
    background-color: #e0f7fa;
}

.weather-icon {
    width: 100px;
    margin: 15px 0;
}

.temperature, .location {
    color: #fff;
    font-size: 35px;
    line-height: 1;
    margin-bottom: 3px;
    font-weight: 700;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}


.loading-text,.error-text {
    color: #fff;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: center;
}


.weather-data {
    width: 100%;
    color: #f5f8fa;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.weather-data .col {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 20px;
    text-align: center;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

.weather-data .col:hover {
    transform: scale(1.05);
    color: black;
}

.weather-data .col img {
    width: 45px;
    transition: transform 0.3s ease-in-out;
}

.weather-data .col img:hover {
    transform: rotate(20deg);
    color: black;
    font-size: 18px;
    font-weight: 700;
}


.weather-data .col span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: color 0.3s ease-in-out;
}

.weather-data .col span:hover {
    color: black;
    font-size: 18px;
    font-weight: 700;
}
